/Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source3.mp4 filter=lfs diff=lfs merge=lfs -text
/Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source4.mp4 filter=lfs diff=lfs merge=lfs -text
/Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source5.mp4 filter=lfs diff=lfs merge=lfs -text
/Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source6.mp4 filter=lfs diff=lfs merge=lfs -text
 /Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source3-h264.mp4 filter=lfs diff=lfs merge=lfs -text
 /Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source4-h264.mp4 filter=lfs diff=lfs merge=lfs -text
 /Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source5-h264.mp4 filter=lfs diff=lfs merge=lfs -text
 /Skills/showcase/restaurants/Samsung[[:space:]]C5000[[:space:]]TV[[:space:]]Simulator/dishtv_source6-h264.mp4 filter=lfs diff=lfs merge=lfs -text
